$size: 100%;
$logoSize: 70%;
$loaderWidth: 2px;

.container {
    padding: 30px;
    width: $size;
    height: $size;
    line-height: $size;
    text-align: center;
    position: relative;
  }

  .pullLeft {
    left:0;
    top:150;
    font-size: 15px;
    text-align:center;
    position: absolute;
  }
  