$size: 100%;
$logoSize: 70%;
$loaderWidth: 2px;

.container {
    padding: 30px;
    width: $size;
    height: $size;
    line-height: $size;
    text-align: left;
    position: relative;
  }
.pullLeft {
  margin-left:20px;
  margin-right:10px;
}
